<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/animate,css">
    <link rel="stylesheet" href="css/style.css">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Vue JS -->
    <script src="js/vue.js"></script>

    <!-- Vue Resource-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.6.1/vue-resource.min.js"></script>

    <script src="js/whyUs.js"></script>

    <title>Booking System</title>

</head>

<body>

    <div id="main">
<!------------------
            NAV
-------------------->
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo center">FindASweat</a>
                  <a href="#" data-target="slide-out" @click="animationsCon = true" class="sidenav-trigger show-on-large">
                      <i class="btnn material-icons">menu</i>
                </a>
                </div>
            </nav>

   


<!------------------
        SIDENAV
-------------------->

  

     <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
            <div class="background">
            <img src="css/UCL.jpg">
            </div>
         <a href="#user"><img class="circle animated rotateIn" src="css/logo.jpg"></a>
         <a href="#name"><span class="white-text name animated fadeInRight">Jonathan Koon Koon</span></a>
         <a href="#email"><span class="white-text email animtaed fadeInRight">jonathankoonkoon@gmail.com</span></a>
        </div></li>




        <li v-for="link in links">
        <a  @click="changeContent" href="javascript:;" :id="link.id" v-if="animationsCon" class="waves-effect links animated fadeInLeft">
            <i class="material-icons-two-tone">{{ link.icon }}</i>
            {{ link.title }}
        </a>
    </li>

    <!-- Button For Closing The SideNav-->
    <!-- Using this variable (animationsCon) for triggering the animations-->
        <span><a @click="animationsCon = false" href="javascript:;" class="sidenav-close"></a></span>
    </ul>
    
    
    
    <section class="content">
        <whyus :id=links[2].id></whyus> </whyus>
    </section>





    </div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });




var app = new Vue({
    el : '#main',
    data:
    {
        links: [
                    {title: "Home", icon : "", id : "linkone"},
                    {title: "Events", icon : "", id : "linktwo"},
                    {title: "Tournaments", icon : "", id : "linkthree"},
                    {title: "About Us", icon : "", id : "linkfour"},
                ],
    animationsCon : false
    },

    methods :
      {
          changeContent()
          {
               //Closing the SideNav
              document.getElementsByClassName('sidenav-close')[0].click();
          }
      },
      created()
      {
          //Fetching Data From Firebase Database

          this.$http.get().then(function(data)
          {
              
            console.log(data);

          });
      }


});


</script>

    
</body>
</html>