@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&family=Sofia&display=swap');

body
{

    background: linear-gradient(180deg,#8e0603d4,#fffffff7),url("ucl.jpg");
    background-attachment: fixed;
    background-size: 1200px;
    background-position: center;
    font-family: "Times New Roman",cursive;
    overflow-x: hidden;

}

nav
{

    background: linear-gradient(#000000a6,#3300008a) !important;
    border-bottom: solid 2px #696868;
    height: 130px !important;
}

.btnn
{
    font-size: 40px !important;
    padding: 30px !important;
}

nav .brand-logo
{
    font-size: 4rem !important;
    padding: 30px !important;
    text-shadow: 6px 5px 4px black;
    color: white;    
}

.sidenav .user-view .circle
{
    height: 150px !important;
    width: 150px !important;
    margin: 0 auto !important;
    animation-delay: .5s;
}

.background > img
{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}


.sidenav .user-view .name
{
 font-family: 'times new roman' !important;
 font-size:1.6rem !important;
 animation-delay:.7s !important;
}

.sidenav .user-view .email
{
 font-family: 'times new roman' !important;
 font-size:1.2rem !important;
 animation-delay:.9s !important;
}

.sidenav li > a
{

 font-family:'sofia' !important;
 font-size: 2rem !important;
 border-bottom: solid 1x lightgray;

}

.sidenav li
{
   padding-top :20px; 
}

#slide-out li a i
{
    font-size: 2.5rem;
}

#linkone
{
    animation-delay: 1s;
}

#linkthree
{
    animation-delay: 1.2s;
}

#linkthree
{
    animation-delay: 1.4s;
}

#linkfour
{
    animation-delay: 1.6s;
}

/*****************************
        COMPONENTS
******************************/

section.content
{

    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 150px;

}


.why-us
{

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color:transparent;


}

.why-us 
{

    background: linear-gradient(45deg, rgba(0,0,0,0.6) , #ff000094);
    color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 20px;
    border: solid 2px black;
}

.hrhr
{

    border: solid 1px black;

}
